body{
    background: gray;
    font: normal 15pt Arial;
}

header{
    color: whitesmoke;
    text-align: center;
}

section{
    background: white;
    padding: 8px;
    border-radius: 10px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px black;
    text-align: center;
} 

footer{
    color: white;
    text-align: center;
    font-style: italic;
}